<!DOCTYPE html>
<html ng-app lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Exercice 5</title>
</head>

<body>
  <div>
    <button ng-click="var=true">Afficher</button>
    <button ng-click="var=false">Cacher</button>
    <div ng-show="var">
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

</body>
</html>
