<!DOCTYPE html>
<html ng-app lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Exercice 6</title>
</head>

<body>
  <div>
    <button ng-click="var=true">Paragraphe1</button>
    <button ng-click="var=false">Paragraphe2</button>
    <div ng-show="var">
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
      <p>qsdqsdqsdqsdqsd</p>
    </div>

    <div ng-hide="var">
      <p>petit petit petit</p>
      <p>petit petit petit</p>
      <p>petit petit petit</p>
      <p>petit petit petit</p>
      <p>petit petit petit</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</body>
</html>
